@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    position: relative;
  }
  
  .box.active .content {
    max-height: 1000px; /* Adjust to fit the content size */
    opacity: 1;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
  }
  div{
    position: relative;
  }